/*navigation blogpost */
.nav-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  .nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ff7600;
    border-radius: 4px;
    padding: 1em;
  }
  
  .nav-icons:hover {
    background-color: #ffba66;
  }